body {
    font-family: 'Press Start 2P', cursive;
    /* background-color: black; */
    background-image:url('img/wall_bg.jpg');
}

#container {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top:100px;
    margin:0 auto;
   

}


section {
    display: flex;
    flex-direction: row;
    align-content:space-between;
    
    color:Chartreuse ;
    width: 100%;
   
    margin:0 auto;
}

section p {
   padding: 10px;
    padding-right: 0;
   font-size:20px;
margin: 0 auto;

text-align:center;
width: 50%;
outline:dashed 1px Chartreuse ;
}

.speelknop, #startBattle {
    background-color:black;
    height: 80px;
    font-size:20px;
    font-family: 'Press Start 2P', cursive;
   
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
  
}

#startBattle {
    top:50%;
}

#input {
    background-color:black;
    height: 80px;
    font-size:20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
}

#output {
    width:100%;
    color:Chartreuse ;
    font-size: 20px;
    text-align: center;
    padding:20px;
    height: 100px;
    box-sizing: border-box;
    word-break: break-all;
}

#foto {
    outline:solid 3px Chartreuse ;
    width: 600px;
    margin:0 auto;
    height: 380px;
    max-width: 100%;
    box-sizing: border-box;
    background-image:url('img/start.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

#scorepc, #scoreman {

    text-align:left;
    font-size:70px;
    padding: 10px;
   
    margin:auto 0;
  
}

.fire {
    background-image: url('img/fire.gif');
    background-repeat: repeat-x;
}


#scores {
    display: flex;
    align-content: space-between;
    width: 100%;
    padding: 0 30px;
    
}


.rood {
    color:red;
}

#player {
    background-image: url(img/player.png);
    width: 300px;
    height:300px;
    max-width: 100%;
    background-size:cover;
  
    z-index: -1;
    outline:solid 1px Chartreuse ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#computer {
    background-image: url(img/revenant.png);
    width: 300px;
    height:300px;
    max-width: 100%;
    background-size:cover;

    z-index: -1;
    outline:solid 1px Chartreuse ;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#mens {
    display: flex;
    flex-direction: column;
    background:black;
    
}


#pc {
    display: flex;
    flex-direction: column;
    background:black;

}

.scoreWrapper {
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.buttonWrapper {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-top: 50px;
}

select, button {
    width:48%;
}


#landingPage{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:black;
    color: chartreuse;
    width:30%;
    margin:0 auto;
    border:solid 2px chartreuse;
    padding:20px;
}

#nameEntry {
    padding:20px;
    height:20px;
    margin:40px;
}