body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

#container {
    display:flex;
    flex-direction: column;
    width: 100%;
 
    margin:0 auto;
   

}


section {
    display: flex;
    flex-direction: row;
    align-content:space-between;
    background-color:black;
    color:Chartreuse ;
    width: 100%;
   
    margin:0 auto;
}

section p {
   padding: 10px;
    padding-right: 0;
   font-size:20px;
margin: 0 auto;

text-align:center;
width: 50%;
outline:dashed 1px Chartreuse ;
}

#btn {
    background-color:black;
    height: 80px;
    font-size:20px;
    font-family: 'Press Start 2P', cursive;
   
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
  
}

#input {
    background-color:black;
    height: 80px;
    font-size:20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
}

#output {
  
    color:Chartreuse ;
    font-size: 30px;
    text-align: center;
    padding:20px;
    height: 100px;
    
}

#foto {
    outline:solid 3px Chartreuse ;
    width: 600px;
    margin:0 auto;
    height: 380px;
    background-image:url('img/start.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

#scorepc, #scoreman {

    text-align:left;
    font-size:20px;
    padding: 10px;
   
    margin:auto 0;
  
}


#scores {
    display: flex;
    align-content: space-between;
    width: 100%;
}


.rood {
    color:red;
}

#player {
    background-image: url(img/player.png);
    width: 300px;
    height:300px;
    background-size:cover;
    position: absolute;
}

#computer {
    background-image: url(img/revenant.png);
    width: 300px;
    height:300px;
    background-size:cover;
    position: absolute;
}

#mens {
    display: flex;
    flex-direction: column;
}


#pc {
    display: flex;
    flex-direction: column;

}

.scoreWrapper {
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.buttonwrapper {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}