body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

#container {
    display:flex;
    flex-direction: column;
    width: 80%;
 
    margin:0 auto;
   

}


section {
    display: flex;
    flex-direction: row;
    align-content:space-between;
    background-color:black;
    color:Chartreuse ;
    width: 100%;
   
    margin:0 auto;
}

section p {
   padding: 10px;
    padding-right: 0;
   font-size:2vw;
margin: 0 auto;

text-align:center;
width: 40%;
outline:dashed 1px Chartreuse ;
}

#btn {
    background-color:black;
    height: 80px;
    font-size:1vw;
    font-family: 'Press Start 2P', cursive;
    width:50%;
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
  
}

#input {
    background-color:black;
    height: 80px;
    font-size:1vw;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    width:50%;
    margin:0 auto;
    outline:solid 3px Chartreuse ;
    color:Chartreuse ;
    cursor: crosshair;
}

#output {
  
    color:Chartreuse ;
    font-size: 2.5vw;
    text-align: center;
    padding:20px;
    height: 100px;
    
}

#foto {
    outline:solid 3px Chartreuse ;
    width: 50%;
    margin:0 auto;
    height: 380px;
    background-image:url('start.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

#scorepc, #scoreman {

    text-align:left;
    font-size:2vw;
    padding: 10px;
   
    margin:auto 0;
    width: 10%;
}


#scores {
    display: flex;
    align-content: space-between;
    width: 100%;
}